body{
    color: rgb(66, 102, 150);
    margin: 0;
    background-size: cover;
}
div#header{
    height: 80px;
    width: 100%;
    background-color: rgb(122, 246, 225);
    opacity: 0.5;
}
div.inner{
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
    div#title{
        height: 100%;
        width: 15%;
        margin-left: 10%;
        float: left;
    }
    div.title{
        margin-top: 20px;
        text-align: center;
        font-size: 30px;
    }
    div#nav{
        height: 100%;
        width: 500px;
        margin-right: 10%;
        float: right;
    }
    div.nav *{
        font-size: 30px;
        display: inline-block;
        margin-top: 6px;
    }


div#cont_1{
    width: 20%;
    height:fit-content;
    margin-top: 80px;
    margin-left: 10%;
    padding: 20px;
    background-color: rgb(215,247,237);
    float: left;
    border-radius: 20px;
}
    div#cont_1_1{
        width: 100%;
        height: 280px;
        background-color: rgb(242,253,249); 
        text-align: center;
        border-radius: 20px;
    }
        div.head_sculpture{ 
            position: relative;
            display: inline-block;
            margin-top: 40px;
        }
        div.name{
            margin-top: 20px;
            font-size: 30px;
        }
    div#cont_1_2{
        padding-top: 20px;
        width: 100%;
        height: 260px;
        text-align: center;
    }
    div.brief_introduction{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

div#cont_2{
    width: 50%;
    height:fit-content;
    min-height: 50px;
    margin-top: 80px;
    margin-right: 10%;
    float: right;
}
    div#cont_2_1{
        width: 100%;
        height: 200px;
        padding-top: 40px; 
    }
    div#cont_2_2{
        width: 100%;
        height: 360px;
        border-radius: 20px;
        background-color: rgb(215,247,237);
    }
    div.cont_2_2_1{
        margin-left: 5%;
        float: left;
    }
    div.cont_2_2_2{
        margin-right: 5%;
        float: right;
    }
    div.cont_2_2_0 {
        margin-top: 20%;
    }